.custom-toast-body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
   
}

.custom-toast {
    width: 270px;
    background-color: #f8f9fa;
    color: #333;
    font-size: .9rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

